@model IEnumerable<Model.Entities.Blog.Post>

@{
    ViewData["Title"] = "Drafts";
}

<div id="BlogInfo" class="container">
    <h1>@ViewData["Title"]</h1>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PubDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastModified)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CloseComments)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PubDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModified)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CloseComments)
                </td>
                <td>
                    <a class="btn btn-warning" asp-controller="Blog" asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script>
        $("h1").addClass("text text-info");
        $("span").css("font-weight", "Bold");
    </script>
}